@import "tailwindcss";

@theme {
  --color-neon: #39FF14;
  --color-scholarBlue: #2563eb;
}

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  body {
    margin: 0;
    @apply transition-colors duration-500;
  }
}